@{
    ViewData["Title"] = "Home Page";
}<br /><br />
<p>
    SectionConfig1: <strong>@ViewData["SectionConfig1"]</strong><br />
    SectionConfig2: <strong>@ViewData["SectionConfig2"]</strong><br />
    SectionConfig3: <strong>@ViewData["SectionConfig3"]</strong>
</p>